<h1>Display Tweet Details</h1>

<p><%= @tweet.content %></p> - <%= @tweet.user.username %>
<br><br>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<br><br>
<form action='/tweets/<%= @tweet.id %>/delete' method='POST'>
    <input id='hidden' type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Tweet'>
</form>